<!DOCTYPE html>
<html>
<head>
    <title>React</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <style> 
.fa {
  font-size: 50px;
  
}

.fa:hover{
  color: red;
 } 
.vis{
    color:red;
    background:yellow;
}


</style>
</head>
<body>

<p>Click button of like/dislike:</p>

<!-- <button onclick="myFunction()">
<i onclick="myFunction(this)" class="fa fa-thumbs-up"></i></button> -->

<button onclick="myFunction()">
<i onclick="myFunction(this)" class="fa fa-thumbs-down"></i></button>








<!-- -------------------------------------------------------------------------------------------------- -->
<p>Click button of like/dislike:</p>
<button onclick="myFunction()">
<i onclick="myFunction(this)" class="fa fa-thumbs-up"></i></button>
<!-- to flippppp  -->
  <!--  
<script>
function myFunction(x) {
  x.classList.toggle("fa-thumbs-down");
}
</script>-->

</body>
</html>
